@model BetaAirlinesMVC.Models.UserRole

@{
    ViewBag.Title = "User Role Details";
    Layout = "~/Views/Shared/_BetaAirlinesLayout.cshtml";
}

<section class="content flexcolumn">
    <h2>@ViewBag.Title</h2>

    <div class="text-left">
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        </dl>
    </div>
    <div class="form-group">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ActionLink("Edit User Role", "Edit", new { id = Model.Id })
        }
    </div>
    <div class="backLink">
        @Html.ActionLink("Back to List", "Index")
    </div>
</section>