
@{
    ViewBag.Title = "Admin: Main";
    Layout = "~/Views/Shared/_BetaAirlinesLayout.cshtml";
}

<section class="content flexcolumn">
    <h2>@ViewBag.Title</h2>
    <ul>
        <li>@Html.ActionLink("Users", "Index", "Users", null, new { title = "Users" })</li>
        <li>@Html.ActionLink("User Roles", "Index", "UserRoles", null, new { title = "User Roles" })</li>
        <li>@Html.ActionLink("Airports", "Index", "Airports", null, new { title = "Airports" })</li>
        <li>@Html.ActionLink("Flights", "Index", "Flights", null, new { title = "Flights" })</li>
        <li>@Html.ActionLink("Booked Flights", "Index", "BookedFlights", null, new { title = "Booked Flights" })</li>
    </ul>
</section>

